.card{
    background: none;
    border: none;
    position: relative;
    transition: transform 0.2s;
}

.card:hover{
    transform: scale(1.1);
    z-index: 1;
}

.card:active{
    transform: scale(1);
}

.card p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
}

.card:hover p{
    color: white;
}

.card img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: dashed 1px white;
}

.card:hover img{
    filter: brightness(20%);
    border: solid 1px white;
}

.overlay_deactive{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.overlay_active{
    position: absolute;
}

.overlay_active div{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
    opacity: 80%;
}

.overlay_deactive div{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.overlay_deactive button{
    position: absolute;
    z-index: -1;
    opacity: 0;

}

.overlay_active button{
    position: fixed;
    top: 95%;
    left: 50%;
    z-index: 3;
    color: black;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    background: none;
    border: none;
}



.overlay_active img{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    border: solid 1px white;
}

.overlay_deactive img{
    position: absolute;
    opacity: 0;
    z-index: 0;
    width: 0px;
}
