.footer{
    background-color: rgb(255, 78, 78);
    margin-top: 100px;
    padding: 10px;
    text-align: center;
}

.footer img{
    margin-left: 10px;
    margin-right: 10px;
}

.footer img:hover{
    transform: scale(1.1);
}