.navbar{
    text-align: center;
    margin: 30px;
}

.navbar button{
    border: none;
    background: none;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    transition: transform .15s;
}

.navbar button:hover{
    transform: scale(1.1);
}

.navbar button:active{
    transform: scale(0.9);
}